*{
    font-family: 'Didact Gothic', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


h1{
    font-size: 1.7em;
    text-align: center;
}

a{
    text-decoration: none;
    color: #279eeb;
    margin-left: -0.15em;
}

.boxes{
    width: 100%;
    flex-grow: 1;
    display: flex;
    
}

.box{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
